<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{url_for('static', filename ='styles.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename ='materialize/css/materialize.min.css')}}>
    <title>Catalog</title>
</head>
<body class="catalog">
    <div id="login-section" class="blue">
        <a href="{{url_for('showLogin')}}"><button class="btn red">Login</button></a></button>
    </div>
   <div class="row cart-container">
    <div class="col l4 m4 s12 center cart">
        <h4>Categories</h4>
        <ul class="category">
            <li><b><a href="{{url_for('getElectronics')}}">Electronics</a></b></li>
            <li><b><a href="{{url_for('getGroceries')}}">Groceries</a></b></li>
            <li><b><a href="{{url_for('getClothing')}}">Clothing</a></b></li>
            <li><b><a href="{{url_for('getFootwear')}}">Footwear</a></b></li>
            <li><b><a href="{{url_for('getAstronomy')}}">Astronomy</a></b></li>
        </ul>
    </div>
    <div class="col l8 m8 s12 center">
        <h4>Latest Items</h4>
        <ul class="items">
                <h5 class="black-text"><a href="{{url_for('addItem')}}">Add new Item</h5></b>
                    {% for item in all_items %}
            <li><b><a href="{{url_for('viewItem', item_id = item.id)}}">{{item.name}}<span class="black-txt">({{item.category}})</span></a></b></li>
                    {% endfor %}
        </ul>
    </div>
   </div>
</body>
</html>