<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{url_for('static', filename ='styles.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename ='materialize/css/materialize.min.css')}}>
    <title>{{cat_name}}</title>
</head>
<body>
    <div class="center">
            <h6><a href="{{url_for('allItems')}}">Back</a></h6>
            {% if category !=[] %}
        <h2>{{cat_name}}</h2>
        <ul>
            {% for item in category %}
            <li><b><a href="{{url_for('viewItem', item_id = item.id)}}">{{item.name}}</a></b></li>
            {% endfor %}
        </ul>
            {% else %}
            <h2 class="black-txt">No items available</h2>
            {% endif %}
    </div>
</body>
</html>