<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{url_for('static', filename ='styles.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename ='materialize/css/materialize.min.css')}}>
    <title>Edit Item</title>
</head>
<body>
   <h2>Edit Item</h2>
   <div class="container">
        <h6><a href="{{url_for('allItems')}}">Back</a></h6>
    <form action="" method="POST" class="center">
        <input type="text" placeholder="Name" name="name" value="{{item.name}}" required><br>
        <input type="text" placeholder="Description" name="desc" value="{{item.description}}" required><br>
        <input type="text" list="category" placeholder="Category" name="category" value="{{item.category}}" required><br>
        <datalist id="category">
            <option value="Electronics">Electronics</option>
            <option value="Groceries">Groceries</option>
            <option value="Clothing">Clothing</option>
            <option value="Footwear">Footwear</option>
            <option value="Astronomy">Astronomy</option>
        </datalist>
        <input type="submit" value="Create" class="btn">
    </form>
   </div>
</body>
</html>