<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href={{url_for('static', filename ='styles.css')}}>
    <link rel="stylesheet" href={{url_for('static', filename ='materialize/css/materialize.min.css')}}>
    <title>Item</title>
</head>
<body>
    <div class="center container item-info">
        <h6><a href="{{url_for('allItems')}}">Back</a></h6>
        <h5>{{item.name}}</h5>
        <p><b>{{item.description}}</b></p>
        <span>
        </span>
    </div>
</body>
</html>